<div class="sidebar-info">
    <!-- Dark Mode Toggle Button -->
    <button class="toggle-btn" id="dark-mode-toggle">
        <ion-icon name="moon-outline"></ion-icon>
    </button>
<!--    <span class="message">-->
<!--        <p>Hai !</p>-->
<!--    </span>-->
    <figure class="avatar-box">
        <img src="./assets/images/my-avatar.png" alt="Jeeva T" width="80" loading="lazy">
    </figure>
    <div class="info-content">
        <h1 class="name" title="Jeeva T">Jeeva T</h1>
        <p class="title">Senior Software Engineer</p>
    </div>
    <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>
        <ion-icon name="chevron-down"></ion-icon>
    </button>
</div>
<div class="sidebar-info_more">
    <div class="separator"></div>
    <ul class="contacts-list">
        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Email</p>
                <a href="mailto:jeevat0123@gmail.com" class="contact-link">jeevat0123@gmail.com</a>
            </div>
        </li>
        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Phone</p>
                <a href="tel:+919176266079" class="contact-link">+91 9176266079</a>
            </div>
        </li>
        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Birthday</p>
                <time datetime="1999-01-23">Jan 23, 1999</time>
            </div>
        </li>
        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Location</p>
                <address>Chennai, TamilNadu , India</address>
            </div>
        </li>
    </ul>
    <div class="separator"></div>
    <ul class="social-list">
        <li class="social-item">
            <a href="https://www.linkedin.com/in/jeevat0123/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </li>
        <li class="social-item">
            <a href="https://github.com/jeevat0123" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
            </a>
        </li>
        <li class="social-item">
            <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </li>
    </ul>
</div>