<!-- #NAVBAR -->
<div id="header-search-bar" hx-get="components/right/nav.html" hx-trigger="load"></div>
<!-- #ABOUT -->
<article class="about  active" data-page="about">
      <div id="header-search-bar" hx-get="pages/about.html" hx-trigger="load"></div>
</article>
<!--#RESUME -->
<article class="resume" data-page="resume">
      <div id="header-search-bar" hx-get="pages/resume.html" hx-trigger="load"></div>
</article>
<!--#PORTFOLIO -->
<article class="portfolio" data-page="portfolio">
      <div id="header-search-bar" hx-get="pages/portfolio.html" hx-trigger="load"></div>
</article>
<!-- #BLOG -->
<article class="blog" data-page="blog">
      <div id="header-search-bar" hx-get="pages/blog.html" hx-trigger="load"></div>
      </section>
</article>
<!-- #CONTACT -->
<article class="contact" data-page="contact">
      <div id="header-search-bar" hx-get="pages/contact.html" hx-trigger="load"></div>
</article>